<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Forum Posts</title>
</head>

<body>
    <div id="content">
        <div class="search-panel">
            <form id='search_form' action="/" @submit="getTopicPosts" method="get" autocomplete="off">
                <input type="text" id="search" class="textbox" v-model="topic" placeholder="Search">
                <button title="Search" type="submit" class="button"><i class="material-icons" style="font-size: 18px;">search</i></button>
            </form>
        </div>

        <div id="piechart"></div>
        <div class="topic-timeline" v-if="topic_timeline">
            <div class="trigger-area">
                <button class="btn btn-sm" data-toggle="collapse" data-target="#messages" aria-expanded="false" aria-controls="messages" style="box-shadow: none;">
                    <i class="material-icons" style="font-size: 14px;">expand_more</i>
                    Show timeline
                </button>
            </div>
            <div class="collapse table-area" id="messages">
                <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="th-datetime" scope="col">Datetime</th>
                            <th class="th-user" scope="col">User</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="post in posts">
                           <td class="td-datetime">[[post.datetime]]</td>
                           <td class="td-user">[[post.author]]</td>
                           <td>[[post.text]]</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>